<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prio"
        tools:targetApi="31">
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".deciderActivities.GeneralStatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".deciderActivities.ProjectStatisticsActivity"
            android:exported="false"
            android:parentActivityName=".deciderActivities.StatisticsActivity" />
        <activity
            android:name=".deciderActivities.StatisticsActivity"
            android:exported="false" />
        <activity
            android:name=".MapsActivity"
            android:exported="false" />
        <activity
            android:name=".plannerActivities.EditarProyectoActivity"
            android:exported="false"
            android:parentActivityName=".plannerActivities.EliminarEditarProyectoActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${googleApiKey}" />

        <activity
            android:name=".plannerActivities.EliminarEditarProyectoActivity"
            android:exported="false"
            android:parentActivityName=".plannerActivities.ManageProyectActivity" />
        <activity
            android:name=".plannerActivities.AnadirProyectoActivity"
            android:exported="false"
            android:parentActivityName=".plannerActivities.ManageProyectActivity" />
        <activity
            android:name=".plannerActivities.ManageProyectActivity"
            android:exported="false" />
        <activity
            android:name=".citizenActivities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".citizenActivities.ProjectActivity"
            android:exported="false"
            android:parentActivityName=".citizenActivities.HomeActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>